/***************width**************/
.w-50 {
    width: 50%;
}
body {
    background-color: pink;
}
input {
    margin: 2% 5%;
}


.errorName::after,
.errorSurname::after,
.errorGender::after,
.errorSelect::after,
.errorEmail::after,
.errorPass::after,
.errorAddress::after{
    content: attr(data-content);
    font-size: 10px;
    background-color: bisque;
    padding: 3px 5px;
}
.errorName,
.errorSurname,
.errorGender,
.errorSelect,
.errorEmail,
.errorPass,
.errorAddress{
    display: none;
}
/**/